apiVersion: v1
kind: Service
metadata:
  name: llm-chatbot-app
  namespace: hw3-llm-chatbot
spec:
  type: LoadBalancer
  selector:
    app: llm-chatbot-app
  ports:
    - name: http
      port: 8050
      targetPort: 8050
      # nodePort: 30080
