apiVersion: v1
kind: Service
metadata:
  name: ollama
  namespace: hw3-llm-chatbot
spec:
  selector:
    name: ollama
  ports:
    - name: http
      protocol: TCP
      port: 11434
      targetPort: 11434
